*{text-align: center;}

@font-face {
    font-family:'Ramisland';
    src: url(police/Ramisland.otf);}

body {
        font-family: 'Ramisland', sans-serif;
    }

h1 {color:#d49c0ee5;}

div {
    display: inline;
    }


.banniere
{
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.banniereform
{
    margin-top: 5px;
    width: 40%;
    height: auto;
}

.menuspace {margin-right: 40px;
color:#d49c0ee5;
font-weight: bold;
}

.menuspace2 {
    color:#d49c0ee5;
    font-weight: bold; 
}

form div {
 display: block;
}

textarea {
    font-family:'Ramisland';
    src: url(police/Ramisland.otf);
    border: ridge #d49c0ee5;}

input {
    border-radius: 40px 40px 40px 40px;
}
